Ejercicios/XML/171224 XSD 1/xsd1b.xsd

<?xml version="1.0" encoding="UTF-8"?>
  
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pedidos">
           <xs:complexType>
            <xs:sequence>
             <xs:element ref = "cliente" maxOccurs = "unbounded"/>
           </xs:sequence>
          </xs:complexType>
     </xs:element>
     
      <xs:element name="cliente">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cod_cliente" type="xs:string"/>
                <xs:element name="nombre"  type="xs:string"/>
                <xs:element name="id_pedido" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>