Ejercicios/Servicios Web/servicio_web1_clienteVS/servicioweb2/Web References/sw1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Alumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlumnoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nota1" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="nota2" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="nota3" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcularMediaResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subtotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtotalResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Total">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="iva" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TotalResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:Alumno" />
  </wsdl:message>
  <wsdl:message name="AlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:AlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularMediaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularMedia" />
  </wsdl:message>
  <wsdl:message name="CalcularMediaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularMediaResponse" />
  </wsdl:message>
  <wsdl:message name="SubtotalSoapIn">
    <wsdl:part name="parameters" element="tns:Subtotal" />
  </wsdl:message>
  <wsdl:message name="SubtotalSoapOut">
    <wsdl:part name="parameters" element="tns:SubtotalResponse" />
  </wsdl:message>
  <wsdl:message name="TotalSoapIn">
    <wsdl:part name="parameters" element="tns:Total" />
  </wsdl:message>
  <wsdl:message name="TotalSoapOut">
    <wsdl:part name="parameters" element="tns:TotalResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWeb1Soap">
    <wsdl:operation name="Alumno">
      <wsdl:input message="tns:AlumnoSoapIn" />
      <wsdl:output message="tns:AlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularMedia">
      <wsdl:input message="tns:CalcularMediaSoapIn" />
      <wsdl:output message="tns:CalcularMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtotal">
      <wsdl:input message="tns:SubtotalSoapIn" />
      <wsdl:output message="tns:SubtotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Total">
      <wsdl:input message="tns:TotalSoapIn" />
      <wsdl:output message="tns:TotalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWeb1Soap" type="tns:ServicioWeb1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Alumno">
      <soap:operation soapAction="http://tempuri.org/Alumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularMedia">
      <soap:operation soapAction="http://tempuri.org/CalcularMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtotal">
      <soap:operation soapAction="http://tempuri.org/Subtotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Total">
      <soap:operation soapAction="http://tempuri.org/Total" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWeb1Soap12" type="tns:ServicioWeb1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Alumno">
      <soap12:operation soapAction="http://tempuri.org/Alumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularMedia">
      <soap12:operation soapAction="http://tempuri.org/CalcularMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtotal">
      <soap12:operation soapAction="http://tempuri.org/Subtotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Total">
      <soap12:operation soapAction="http://tempuri.org/Total" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb1">
    <wsdl:port name="ServicioWeb1Soap" binding="tns:ServicioWeb1Soap">
      <soap:address location="http://localhost/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWeb1Soap12" binding="tns:ServicioWeb1Soap12">
      <soap12:address location="http://localhost/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>