Ejercicios/Servicios Web/servicio_web0_clienteVS/servicio-web0_clienteVS/Web References/ws0/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CantidadCaracteres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadCaracteresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadCaracteresResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularPotencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="exponente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularPotenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcularPotenciaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CantidadCaracteresSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadCaracteres" />
  </wsdl:message>
  <wsdl:message name="CantidadCaracteresSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadCaracteresResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularPotenciaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularPotencia" />
  </wsdl:message>
  <wsdl:message name="CalcularPotenciaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularPotenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CantidadCaracteres">
      <wsdl:input message="tns:CantidadCaracteresSoapIn" />
      <wsdl:output message="tns:CantidadCaracteresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularPotencia">
      <wsdl:input message="tns:CalcularPotenciaSoapIn" />
      <wsdl:output message="tns:CalcularPotenciaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CantidadCaracteres">
      <soap:operation soapAction="http://tempuri.org/CantidadCaracteres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularPotencia">
      <soap:operation soapAction="http://tempuri.org/CalcularPotencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CantidadCaracteres">
      <soap12:operation soapAction="http://tempuri.org/CantidadCaracteres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularPotencia">
      <soap12:operation soapAction="http://tempuri.org/CalcularPotencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>